$icomoon-font-family: "CustomRealweb" !default;
$icomoon-font-path: "fonts/Custom/fonts" !default;

$icon-chevron-arrow-up: "\e91a";
$icon-delete: "\e91b";
$icon-maintenance: "\e917";
$icon-router: "\e918";
$icon-tv-monitor: "\e919";
$icon-television: "\e915";
$icon-video: "\e916";
$icon-vk-social-network-logo: "\e914";
$icon-lightbulb: "\e913";
$icon-hands: "\e90e";
$icon-support: "\e90f";
$icon-credit-card: "\e910";
$icon-star: "\e911";
$icon-time: "\e912";
$icon-right-arrow: "\e90c";
$icon-left-arrow: "\e90d";
$icon-login-square-arrow-button-outline: "\e90a";
$icon-menu-three-horizontal-lines-symbol: "\e90b";
$icon-list-menu: "\e909";
$icon-menu: "\e908";
$icon-login: "\e907";
$icon-smartphone-call: "\e906";
$icon-internet-tv: "\e905";
$icon-wifi-router: "\e904";
$icon-more: "\e901";
$icon-change: "\e902";
$icon-wifi: "\e903";
$icon-dashboard: "\e900";

